In [141]:
import numpy as np
import pandas as pd
from __future__ import print_function

df = pd.read_excel(
    "https://docs.google.com/spreadsheets/d/1OGs8KoHGEZDxyFdaxAKmZbeO1BiSWVQ6/export?format=xlsx", sheet_name = "Canada by Citizenship", 
    skiprows = range(20), skipfooter = 2)

def display_no_index(df):
    return df.style.hide(axis='index')
    
df.head()

         Type    Coverage          OdName  AREA AreaName   REG          RegName  DEV             DevName  ...  2005  2006  2007  2008  2009  2010  2011  2012  2013
0  Immigrants  Foreigners     Afghanistan   935     Asia  5501    Southern Asia  902  Developing regions  ...  3436  3009  2652  2111  1746  1758  2203  2635  2004
1  Immigrants  Foreigners         Albania   908   Europe   925  Southern Europe  901   Developed regions  ...  1223   856   702   560   716   561   539   620   603
2  Immigrants  Foreigners         Algeria   903   Africa   912  Northern Africa  902  Developing regions  ...  3626  4807  3623  4005  5393  4752  4325  3774  4331
3  Immigrants  Foreigners  American Samoa   909  Oceania   957        Polynesia  902  Developing regions  ...     0     1     0     0     0     0     0     0     0
4  Immigrants  Foreigners         Andorra   908   Europe   925  Southern Europe  901   Developed regions  ...     0     1     1     0     0     0     0     1     1

[5 rows x 43 columns]

In [142]:
df = df.drop(columns=['Type', 'Coverage', 'AREA', 'REG', 'DEV'])
position = 0
empty_row = pd.DataFrame([[''] * len(df.columns)], columns=df.columns)
df = pd.concat([df.iloc[:position], empty_row, df.iloc[position:]], ignore_index=True)

df.columns.values[0] = ''
df.columns.values[1] = 'Continent'
df.columns.values[2] = 'Region'

df.iloc[0, 0] = 'Country'

df['TOTAL'] = df.iloc[:, 4:].sum(axis=1)

display_no_index(df.head())

In [143]:
df.head()

                  Continent           Region             DevName 1980 1981 1982 1983 1984  ...  2006  2007  2008  2009  2010  2011  2012  2013  TOTAL
0         Country                                                                          ...
1     Afghanistan      Asia    Southern Asia  Developing regions   16   39   39   47   71  ...  3009  2652  2111  1746  1758  2203  2635  2004  58639
2         Albania    Europe  Southern Europe   Developed regions    1    0    0    0    0  ...   856   702   560   716   561   539   620   603  15699
3         Algeria    Africa  Northern Africa  Developing regions   80   67   71   69   63  ...  4807  3623  4005  5393  4752  4325  3774  4331  69439
4  American Samoa   Oceania        Polynesia  Developing regions    0    1    0    0    0  ...     1     0     0     0     0     0     0     0      6

[5 rows x 39 columns]